table, th, td {
border: 1px solid grey;
border-collapse: collapse;}
th { background-color: #00FFCC; font-family:arial;}
td { background-color: #CCFFF5; text-align: center; font-family:arial;}
th.id { background-color: #c266ff; text-align: center;}
td.id {background-color: #ebccff; text-align: left;}
.checkbox {display: none; white-space: nowrap}text-align-last: 