*.*
# ViewDockX/build/*
# ViewDockX/build/lib/chimerax/viewdockx/*
!.gitignore

# !*.py
# !ViewDockX
!ViewDockX/*
!ViewDockX/src/*
!ViewDockX/src/*/*
!ViewDockX/src/*/*/*
*.pyc

ViewDockX/src/output_test.html
ChimeraX_ViewDockX.egg-info
viewdockx project.sublime-project
viewdockx project.sublime-workspace